html {
  height: 99%;
}
body {
  font-family: "微软雅黑";
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
}
.boxSing {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
select {
  font-size: 1em;
}
.contain {
  height: 100%;
  border: 1px solid #B4B4B4;
  margin-left: 8px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contain .header {
  height: 4%;
  color: #414141;
  font-size: 1em;
  position: relative;
  border-bottom: 1px solid #b4b4b4;
  background: -webkit-linear-gradient(#fffffe, #ededed);
  background: -o-linear-gradient(#fffffe, #ededed);
  background: -moz-linear-gradient(#fffffe, #ededed);
  background: linear-gradient(#fffffe, #ededed);
}
.contain .header span {
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 30px;
}
.contain .searchBox {
  height: 9%;
  font-size: 1em;
  position: relative;
  padding-left: 30px;
}
.contain .searchBox .selectbox {
  display: inline-block;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
}
.contain .searchBox .selectbox .title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.contain .searchBox .selectbox img {
  position: absolute;
  width: 40px;
  right: 0px;
  top: 2px;
  height: 40px;
}
.contain .searchBox .selectbox input {
  top: 0;
  margin: 0;
  box-sizing: s border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  font-size: 1em;
}
.contain .searchBox .selectbox ul {
  display: none;
  position: absolute;
  top: 40px;
  right: 0px;
  width: 200px;
  height: 300px;
  background: white;
  z-index: 99;
  border: 1px solid #DDDDDD;
  overflow-y: scroll;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.contain .searchBox .selectbox ul option {
  padding-left: 10px;
}
.contain .searchBox .selectbox ul li {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.contain .searchBox .selectbox ul li:hover {
  background: #356DB2;
}
.contain .searchBox .add_liveSource {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 20px;
}
.contain .main {
  width: 100%;
  height: 80%;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.contain .main .tableBox {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 100%;
}
.contain .main .tableBox .ul_table {
  width: 100%;
  height: 5%;
  font-size: 1em;
  background: darkgray;
}
.contain .main .tableBox .ul_table li {
  width: 100%;
  height: 100%;
}
.contain .main .tableBox .ul_table li span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  display: inline-block;
  height: 100%;
  border-right: 1px solid white;
  text-indent: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}
.contain .main .tableBox .ul_table .theader {
  background: #e7edf2;
}
.alert {
  display: none;
  background: rgba(145, 145, 145, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.alert .preview_video {
  height: 40px;
  position: relative;
  top: 2px;
}
.alert .alertMain {
  width: 78%;
  height: 70%;
  min-width: 920px;
  border: 1px solid #B4B4B4;
  background: white;
  position: absolute;
  top: 15%;
  left: 11%;
}
.alert .alertMain .title {
  font-size: 1em;
  height: 50px;
  text-indent: 30px;
  line-height: 50px;
  color: #414141;
  border-bottom: 1px solid #B4B4B4;
  position: relative;
}
.alert .alertMain .canclealertImg {
  z-index: 9999999;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.alert .alertMain .fl {
  width: 50%;
}
.alert .alertMain .fl > div {
  margin-top: 10px;
  width: 100%;
}
.alert .alertMain .fl > div label {
  display: inline-block;
  width: 120px;
  text-indent: 40px;
  color: #828282;
}
.alert .alertMain .fl > div input {
  width: 200px;
  height: 40px;
}
.alert .alertMain .fl > div p {
  height: 20px;
  color: red;
  text-indent: 130px;
  line-height: 20px;
}
.alert .alertMain .fl .selectbox {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.alert .alertMain .fl .selectbox select {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 125px;
  z-index: 99;
  opacity: 0;
}
.alert .alertMain .fl .selectbox select option {
  width: 200px;
  overflow: hidden;
}
.alert .alertMain .fl .selectbox ul {
  display: none;
  position: absolute;
  top: 40px;
  left: 125px;
  width: 200px;
  height: 300px;
  background: white;
  z-index: 99;
  border: 1px solid #DDDDDD;
  overflow-y: scroll;
}
.alert .alertMain .fl .selectbox ul option {
  padding-left: 10px;
}
.alert .alertMain .fl .selectbox ul li {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}
.alert .alertMain .fl .selectbox ul li:hover {
  background: #356DB2;
}
.alert .alertMain .fl .selectbox img {
  position: absolute;
  top: 0;
  left: 285px;
  width: 40px;
}
.alert .alertMain .fl .filedivbox > span {
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 40px;
  width: 60px;
  position: relative;
  top: 2px;
}
.alert .alertMain .fl .filedivbox .fileBox {
  position: relative;
}
.alert .alertMain .fl .filedivbox .fileBox input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.alert .alertMain .fl .buttonBox {
  margin-top: 100px;
  text-align: center;
}
.alert .alertMain .fl .buttonBox button {
  margin-left: 20px;
}
.alert .alertMain .fr {
  height: 90%;
  width: 47%;
  background: darkgray;
  position: relative;
}
.alert .alertMain .imgBox {
  position: absolute;
  z-index: 9999999!important;
  display: none;
  border: 1px solid #B4B4B4;
  background: white;
  left: 30%;
  width: 500px;
  height: 512px;
  padding-top: 50px;
  padding-left: 5%;
}
.alert .alertMain .imgBox .cancleImg {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.alert .alertMain .imgBox .previewImg {
  border: 0 none;
  width: 90%;
  height: 90%;
  margin: 0 auto;
}
