html {
  height: 99%;
}
body {
  font-family: "微软雅黑";
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
}
.boxSing {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
select {
  font-size: 1em;
}
.contain {
  height: 100%;
  border: 1px solid #B4B4B4;
  margin-left: 8px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header {
  height: 4%;
  color: #414141;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #b4b4b4;
  background: -webkit-linear-gradient(#fffffe, #ededed);
  background: -o-linear-gradient(#fffffe, #ededed);
  background: -moz-linear-gradient(#fffffe, #ededed);
  background: linear-gradient(#fffffe, #ededed);
}
.header span {
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 30px;
}
.downInfo {
  margin-top: 30px;
  margin-left: 30px;
  color: #414141;
  font-size: 18px;
}
.logBox {
  position: relative;
}
.logBox p {
  font-size: 18px;
  color: #828282;
  margin-top: 24px;
  margin-left: 66px;
  display: inline-block;
}
.logBox button {
  height: 30px;
  line-height: 30px;
  width: 120px;
  font-size: 12px;
  position: relative;
}
.logBox img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -13px;
  left: 140px;
  display: none;
}
.downconsole {
  width: 140px;
  margin-top: 20px;
}
.clearSacnnBox {
  color: #595959;
  margin-left: 20px;
  margin-top: 20px;
}
