html {
  height: 99%;
}
body {
  font-family: "微软雅黑";
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 8px;
}
.boxSing {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
select {
  font-size: 1em;
}
.contain {
  height: 100%;
  border: 1px solid #B4B4B4;
  margin-left: 8px;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contain .header {
  height: 4%;
  color: #414141;
  font-size: 16px;
  position: relative;
  border-bottom: 1px solid #b4b4b4;
  background: -webkit-linear-gradient(#fffffe, #ededed);
  background: -o-linear-gradient(#fffffe, #ededed);
  background: -moz-linear-gradient(#fffffe, #ededed);
  background: linear-gradient(#fffffe, #ededed);
}
.contain .header span {
  height: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 30px;
}
.contain .searchBox {
  height: 9%;
  font-size: 1em;
  color: #595959;
  padding-left: 30px;
  padding-top: 20px;
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.contain .searchBox .showdown {
  display: none;
  height: 50px;
  width: 50px;
  position: relative;
  top: 15px;
}
.contain .searchBox input {
  height: 40px;
  width: 200px;
}
.contain .searchBox .searchLog {
  display: inline-block;
  width: 80px;
  height: 40px;
  text-align: center;
  position: relative;
  top: 2px;
}
.contain .searchBox .reloadBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}
.main {
  width: 100%;
  height: 80%;
  padding: 0 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main .tableBox {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 100%;
}
.main .tableBox .ul_table {
  width: 100%;
  height: 5%;
  font-size: 1em;
  background: darkgray;
}
.main .tableBox .ul_table li {
  width: 100%;
  height: 100%;
}
.main .tableBox .ul_table li span {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  display: inline-block;
  font-size: 1em;
  height: 1.5em;
  line-height: 1.5em;
  position: relative;
  top: 50%;
  margin-top: -0.75em;
  border-right: 1px solid white;
  text-indent: 10px;
  white-space: nowrap;
}
.main .tableBox .ul_table .theader {
  background: #e7edf2;
}
.myRange {
  position: relative;
  top: 10%;
  display: inline-block;
  width: 204px;
  height: 16px;
  margin-left: 20px;
  background-image: url(../img/jindub.png?v=27afa0184f);
}
.myRange .myRangeValue {
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 2px;
  margin-top: -5px;
  display: inline-block;
  height: 10px;
  background-image: url(../img/jindu.png?v=32c2edcc27);
  background-repeat: repeat-x;
  border: 1px solid #256e9a;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.transcPer {
  margin-left: 20px;
  font-style: normal;
}
